<section id="about" class="px-3 py-4 bg-parallax">
    <div class="section-wrapper">
        <div class="container">
            <div class="row py-150">
                <h4 class="h1 text-white text-center">E-books company</h4>
                <h5 class="h3 text-light text-center">Who we are</h5>
                <p class="text-white text-center py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, cupiditate nesciunt laudantium aut quae deleniti debitis iure quidem at dolorum labore magni commodi nobis illo facere, excepturi sapiente dicta ipsum dolore distinctio non optio rerum? Sunt rem quas sed soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, cupiditate nesciunt laudantium aut quae deleniti debitis iure quidem at dolorum labore magni commodi nobis illo facere, excepturi sapiente dicta ipsum dolore distinctio non optio rerum? Sunt rem quas sed soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, cupiditate nesciunt laudantium aut quae deleniti debitis iure quidem at dolorum labore magni commodi nobis illo facere, excepturi sapiente dicta ipsum dolore distinctio non optio rerum? Sunt rem quas sed soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, cupiditate nesciunt laudantium aut quae deleniti debitis iure quidem at dolorum labore magni commodi nobis illo facere, excepturi sapiente dicta ipsum dolore distinctio non optio rerum? Sunt rem quas sed soluta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, cupiditate nesciunt laudantium aut quae deleniti debitis iure quidem at dolorum labore magni commodi nobis illo facere, excepturi sapiente dicta ipsum dolore distinctio non optio rerum? Sunt rem quas sed soluta.</p>
            </div>
        </div>
    </div>
    
</section>