<section id="info" class="px-3 py-5 border-bottom">
    <div class="accordion" id="accordionBooks">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headerOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Accordion Books
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionBooks" aria-labelledby="headerOne">
                <div class="accordion-body">
                    <p class="text-lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headerTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Accordion Books
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionBooks" aria-labelledby="headerTwo">
                <div class="accordion-body">
                    <p class="text-lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headerThree">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Accordion Books
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionBooks" aria-labelledby="headerThree">
                <div class="accordion-body">
                    <p class="text-lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headerFour">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    Accordion Books
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionBooks" aria-labelledby="headerFour">
                <div class="accordion-body">
                    <p class="text-lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tenetur iusto. Reprehenderit iste nam nostrum vitae sit at nihil architecto.</p>
                </div>
            </div>
        </div>
    </div>
</section>