<section class="p-5 mt-3 border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-evenly my-3 m-md-0">
                <h3 class="h2 text-center">Get it now!</h3>
                <h4 class="text-muted text-center">Lorem ipsum dolor sit amet consectetur adipisicing.Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                <p class="text-lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing.Lorem ipsum dolor sit amet consectetur adipisicing.Lorem ipsum dolor sit amet consectetur adipisicing.Lorem ipsum dolor sit amet consectetur adipisicing.Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                <button type="button" class="btn btn-dark">Get it now</button>
            </div>
            <div class="col-md-6 my-3 m-md-0">
                <img src="/img/book.jpg" alt="book image" class="img-fluid">
            </div>
        </div>
    </div>
</section>