<section id="page-top" class="bg-dark text-light py-5"> <!--Start top -->
    <div class="container">
        <div class="row">
            <h1 class="p-5 display-3"><%= h1 %></h1>
        </div>
    </div>
</section><!-- end top -->