<section id="products" class="py-5 px-2"> <!-- products start -->
    <div class="container">
        <div class="row">
            <h3 class="display-4 py-4">Popular</h3>
            <div class="col-md-3 d-flex flex-column px-0">
                <img src="/img/book2.jpg" alt="" class="img-fluid product-img">
                <div class="data-wrapper px-2 py-4">
                    <h4 class="text-lead">Cooking 101</h4>
                    <p class="text-muted">Cooking with the masters</p>
                </div>
            </div>
            <div class="col-md-3 d-flex flex-column px-0">
                <img src="/img/book2.jpg" alt="" class="img-fluid product-img">
                <div class="data-wrapper px-2 py-4">
                    <h4 class="text-lead">Java</h4>
                    <p class="text-muted">Learn Java</p>
                </div>
            </div>
            <div class="col-md-3 d-flex flex-column px-0">
                <img src="/img/book2.jpg" alt="" class="img-fluid product-img">
                <div class="data-wrapper px-2 py-4">
                    <h4 class="text-lead">Home utils</h4>
                    <p class="text-muted">Do everything at home</p>
                </div>
            </div>
            <div class="col-md-3 d-flex flex-column px-0">
                <img src="/img/book2.jpg" alt="" class="img-fluid product-img">
                <div class="data-wrapper px-2 py-4">
                    <h4 class="text-lead">Harry potter</h4>
                    <p class="text-muted">Get the saga</p>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="display-4 py-4">New</h3>
            <div class="col-md-3 d-flex flex-column px-0">
                <img src="/img/book2.jpg" alt="" class="img-fluid product-img">
                <div class="data-wrapper px-2 py-4">
                    <h4 class="text-lead">Cooking 101</h4>
                    <p class="text-muted">Cooking with the masters</p>
                </div>
            </div>
            <div class="col-md-3 d-flex flex-column px-0">
                <img src="/img/book2.jpg" alt="" class="img-fluid product-img">
                <div class="data-wrapper px-2 py-4">
                    <h4 class="text-lead">Java</h4>
                    <p class="text-muted">Learn Java</p>
                </div>
            </div>
            <div class="col-md-3 d-flex flex-column px-0">
                <img src="/img/book2.jpg" alt="" class="img-fluid product-img">
                <div class="data-wrapper px-2 py-4">
                    <h4 class="text-lead">Home utils</h4>
                    <p class="text-muted">Do everything at home</p>
                </div>
            </div>
            <div class="col-md-3 d-flex flex-column px-0">
                <img src="/img/book2.jpg" alt="" class="img-fluid product-img">
                <div class="data-wrapper px-2 py-4">
                    <h4 class="text-lead">Harry potter</h4>
                    <p class="text-muted">Get the saga</p>
                </div>
            </div>
        </div>
    </div>
</section> <!-- products end -->