<section id="showcase" class="py-5 px-4 text-center border-bottom bg-dark"> <!-- showcase start -->
    <div class="container">
        <div class="row">
            <i class="bi bi-book-half text-light display-3"></i>
            <h3 class="h2 text-white">E-books everyday</h3>
            <p class="text-muted fz-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, corporis cupiditate? Accusantium fugit omnis neque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, corporis cupiditate? Accusantium fugit omnis neque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, corporis cupiditate? Accusantium fugit omnis neque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, corporis cupiditate? Accusantium fugit omnis neque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, corporis cupiditate? Accusantium fugit omnis neque.Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="col-md-6 mx-auto">
            <button class="btn btn-primary btn-lg px-4">Primary</button>
            <button class="btn btn-outline-success btn-lg px-4">Outline</button>
        </div>
    </div>
</section> <!-- showcase end -->