

    <footer class="py-2 px-3 text-center bg-dark text-light"> <!-- footer start -->
        <div id="top-footer"> <!-- top footer start -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3 my-auto">
                        <h4 class="text-center text-lead">
                            E-Books
                        </h4>
                    </div>
                    <div class="col-md-3">
                        <h4 class="text-center text-lead">Location</h4>
                        <p><i class="bi bi-compass-fill text-light me-1"></i>River street - 10 - RJ - Brasil</p>
                    </div>
                    <div class="col-md-3">
                        <h4 class="text-center text-lead">Menu</h4>
                        <ul class="d-flex flex-column align-items-center justify-content-center text-light px-0">
                            <li class="py-1">
                                <a href="/" class="">Home</a>
                              </li>
                              <li class="py-1">
                                <a href="/" class="">Books</a>
                              </li>
                              <li class="py-1">
                                <a href="/" class="">About</a>
                              </li>
                              <li class="py-1">
                                <a href="/" class="">Contact</a>
                              </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4 class="text-center text-lead">Contact</h4>
                        <p class="text-lead"> <i class="bi bi-telephone-fill text-light me-1"></i> (24) 99999-88888</p>
                    </div>
                </div>
            </div>
        </div> <!-- top footer end -->
        <div id="bottom-footer"> <!-- bottom footer start -->
            <p> E-books Store -- Copyright | 2021 </p>
        </div>  <!-- bottom footer ens -->      
    </footer> <!-- footer end -->


    <!-- Boostrap js -->
<script src="/js/bootstrap.bundle.min.js"></script>

</body>
    
</html>
