

    <footer class="py-2 px-3 text-center bg-dark text-light">
        <div id="bottom-footer"> <!--  footer start -->
            <p> E-books Store -- Copyright | 2021 </p>
        </div>  <!--  footer ends -->      
    </footer> <!-- footer end -->


    <!-- Boostrap js -->
<script src="/js/bootstrap.bundle.min.js"></script>

</body>
    
</html>
